.git
.gitignore
*.md
.env
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
.vscode
.idea
srcs/frontend/node_modules
srcs/frontend/.next
srcs/frontend/dist
srcs/frontend/.vite
srcs/backend/.venv
srcs/backend/__pycache__
srcs/backend/.pytest_cache
srcs/backend/db.sqlite3
*.log
**/node_modules
**/venv
**/pytest_cache