POSTGRES_DB=ootb_db
POSTGRES_USER=ootb_dev
POSTGRES_PASSWORD=ootb_2026
DATABASE_URL=postgres://ootb_dev:ootb_2026@db:5432/ootb_db
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend,*
DJANGO_SETTINGS_MODULE=core.settings

# Production settings

# ALLOWED_HOSTS=ootb.com,www.ootb.com
# DEBUG=False
SECRET_KEY=django-insecure-default-key-for-dev
